<h1>Listing clients</h1>

<table>
  <thead>
    <tr>
      <th>Client</th>
      <th>Description</th>
      <th>Active</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= client.client %></td>
        <td><%= client.description %></td>
        <td><%= client.active %></td>
        <td><%= link_to 'Show', client %></td>
        <td><%= link_to 'Edit', edit_client_path(client) %></td>
        <th><%= button_to 'Delete', client, method: :delete %></th>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Client', new_client_path %>
