<div class="panel-body">
  <p id="notice"><%= notice %></p>

 <div class="form-group">

  <strong>Client:</strong>
  <%= @client.client %>
</div>

<p>
  <strong>Description:</strong>
  <%= @client.description %>
</p>

<p>
  <strong>Active:</strong>
  <%= @client.active %>
</p>

<%= link_to 'Edit', edit_client_path(@client) %> |
<%= link_to 'Back', clients_path %> |
<%= link_to 'Delete' , client_path(@client),  method: :delete %>
</div>

<%= render 'accounts/accounts', locals: { accounts: @client.accounts}%>
<%= yield %>