<p id="notice"><%= notice %></p>
<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title"> Account Listing </div>

    <table class="table table-hover">
      <tr>
      <th>Account</th>
      <th>Description</th>
      <th>Active</th>
      <th>Account Value</th>
      <th><span class="glyphicon glyphicon-search"></span></th>
      <th><span class="glyphicon glyphicon-paperclip"></span></th>
      <th><span class="glyphicon glyphicon-remove"></span></th>

      </tr>
      <% @accounts.each do |account| %>
      <tr>
        <td><%= account.name %></td>
        <td><%= account.description %></td>
        <td><%= account.active %></td>
        <td><%= account.value %></td>
        <td><%= button_to "Show", account, :class => "btn btn-info", :method => :get  %></td>
        <td><%= button_to "Edit", edit_account_path(account), :class => "btn btn-edit", :method => :get  %></td>
        <th><%= button_to 'Delete', account, method: :delete %></th>
      </tr>
      <% end %>
</table>

<br>


      </div>
    </div>